<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/signup.css" />
    <title>SignUp</title>
  </head>
  <body>
    <div class="container">
      <h1>Create Account</h1>
      <input type="text" autofocus placeholder="Username" class="input1" />
      <input type="password" autofocus placeholder="Password" class="input2" />
      <button type="submit">Create Account</button>
      <p>
        <a href="./login.html">Already have an account? Sign in</a>
      </p>
    </div>
  </body>
</html>
